* {
  box-sizing: border-box;
  margin: 0.2rem 0.5rem;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; /* Horizontally center the .app-container */
  align-items: center; /* Vertically center the .app-container */
  min-height: 100vh; /* Ensure the body covers at least the viewport height */
  background-color: #f3f4f6; /* Set a background color for the body */
}

h1{
  margin-top: 0.75rem;
}
.main-container {
  max-width: 700px;
  height: auto;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #ebe8fc;
}

.weather-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.city {
  font-size: 2rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.description {
  font-size: 2rem;
  font-weight: 300;
  padding: 0;
}

.weather-icon{
  width: 50px;
  height: 50px;
  margin: 0rem;
  padding: 0;
}

.main-temp{
  font-size: 5rem;
  font-weight: 700;
  padding: 0;
}

.minmax{
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin: 0;
}

.search-container {
  align-items: left;
}

  input {
    border: 1px solid #D1D5DB;
    color: #111827;
    font-size: .9rem;
    line-height: 0.8rem;
    padding: .6rem 1rem;
    border-radius: .5rem;
    width: 67%;
    margin: 0 0 0.75rem 0;
  
  }

  .search-btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-size: .9rem;
    line-height: 0.8rem;
    padding: .6rem 1rem;
    margin: 5px;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
  }

  .details-btn{
  cursor: pointer;
  font-size: .8rem;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  margin: 0.75rem 0 0.25rem 0.5rem;    

  }

  .forecast-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    border-radius: 12px;
    font-size: 1.2rem;
    margin: 0.75rem 0 0.75rem 0;
    }
  